calendar_Agent.json
{
  "name": "calendar Agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -320,
        0
      ],
      "id": "83600d6b-8cb8-44af-8a6a-afbb2b0d25a6",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -140,
        180
      ],
      "id": "f982c88e-21b7-4ffb-9b9b-62abba1af9ba",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "aOQ789JMdzc8ZCsb",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c829320-f539-4ec6-b3a2-5127c680ee85",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        360,
        0
      ],
      "id": "69c36238-8f59-4019-8e9f-03ecd0364aa5",
      "name": "Success"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        520,
        0
      ],
      "id": "ff5090e0-8e0c-4627-b48a-778e1d45f4b1",
      "name": "Error"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "gpprajwal621@gmail.com",
          "mode": "list",
          "cachedResultName": "gpprajwal621@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "attendees": []
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        20,
        180
      ],
      "id": "f13a1cd8-ef8f-416d-90b2-ca104ecc3fc8",
      "name": "Create Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "GCN690V3Hu0p5TsK",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "gpprajwal621@gmail.com",
          "mode": "list",
          "cachedResultName": "gpprajwal621@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        180,
        180
      ],
      "id": "f38a913a-1819-44e6-a8d1-8790d5cf7bb0",
      "name": "Delete Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "GCN690V3Hu0p5TsK",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "gpprajwal621@gmail.com",
          "mode": "list",
          "cachedResultName": "gpprajwal621@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        100,
        320
      ],
      "id": "af456ffd-3c19-4a3d-b69f-26b00e2f82da",
      "name": "Update Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "GCN690V3Hu0p5TsK",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "gpprajwal621@gmail.com",
          "mode": "list",
          "cachedResultName": "gpprajwal621@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -80,
        320
      ],
      "id": "c1681f82-0ff8-45cc-bbc4-dd36b5179632",
      "name": "Get Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "GCN690V3Hu0p5TsK",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "= {{ $json.query }}",
        "options": {
          "systemMessage": "=Your Job:\nManage calendar events - create, check, update, and delete\n\nTools:\n\nCreate Event with Attendee - For meetings with others\n\nCreate Event - For solo appointments\n\nGet Events - Must use first to:\n\nFind event IDs before deleting\n\nFind event IDs before updating\n\nDelete Event - Remove events (need ID from Get Events)\n\nUpdate Event - Change details (need ID from Get Events)\n\nImportant Rules:\n\nAlways use Get Events before deleting or updating\n\nNo duration given? Assume 1 hour meetings\n\nCurrent time: [auto-filled when used]\n\nExample Workflow:\nUser says: \"Reschedule tomorrow's 2pm meeting to 3pm\"\nYou:\n\nUse Get Events to find the meeting ID\n\nUse Update Event with new time\n\nKeep It Simple:\n\nAdding people? Use \"Create Event with Attendee\"\n\nJust you? Use \"Create Event\"\n\nChanging/canceling? Get ID first → then update/delete\n\nRemember: Always check first, then act!\n\ntodays date: {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -40,
        0
      ],
      "id": "42afab9b-738b-44c8-bf36-76e3f28aa629",
      "name": "Calendar Agent",
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Calendar Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Events": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Agent": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c274bb04-c896-445e-ad3e-3797a91f5dd8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1a919a52904068411d81843202683e3086af5a7b099ce8f1ccc4d5ea5a19763c"
  },
  "id": "ZV7v91WWd48a7vjC",
  "tags": []
}