content_Creator.json
{
  "name": "content Creator",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -200,
        -40
      ],
      "id": "4074b0a8-6400-4794-bf5d-789070807fc0",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        20,
        180
      ],
      "id": "30ee8a8e-0c73-458a-b803-772950d5c8e3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "aOQ789JMdzc8ZCsb",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "26bdbe27-e4e0-48e6-b250-4336182cfbac",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        -40
      ],
      "id": "cd71d896-8b08-4bab-bae8-b9665690c963",
      "name": "Success"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        600,
        -40
      ],
      "id": "0160bebc-0616-4641-8382-9e6f60ee1630",
      "name": "Error"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $('When Executed by Another Workflow').item.json.query }}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 5,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": true,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": [],\n  \"country\": null\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        180,
        180
      ],
      "id": "10b159a0-9934-4e34-ad65-3fafb34db626",
      "name": "Tavily",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OkYb7ToWYLZmj9Qi",
          "name": "tavily jadu"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=Your Role:\nSkilled AI blog writer creating engaging, well-structured content. Focus on:\n\nClear, compelling writing\n\nSEO optimization\n\nOriginal, well-researched information\n\nNo fluff\n\nTools:\n🔍 Tavily - Use to research blog topics online\n\nFormat Rules:\n\nWrite in HTML format\n\nUse proper headings:\n<h1> Main title\n<h2> Subheadings\n\nUse paragraphs: <p>\n\nUse bullet points: <ul><li>\n\nInclude clickable links: <a href=\"URL\"> (keep all source links from Tavily)\n\nWriting Style:\n\nNatural, human-like tone\n\nVaried sentence structure\n\nInclude examples/data when helpful\n\nShort paragraphs for easy reading\n\nLogical flow from start to finish\n\nAlways fact-check\n\nMatch the brand's tone\n\nKey Points:\n\nResearch first using Tavily\n\nWrite in clean HTML\n\nKeep all source links\n\nMake it valuable and readable\n\nStay accurate and on-brand\n\nExample:\nUser requests: \"Write about AI in healthcare\"\nYou:\n\nUse Tavily to research\n\nWrite HTML-formatted blog\n\nInclude all source links\n\nMake it engaging and factual\n\nRemember: Quality content always wins!"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        20,
        -40
      ],
      "id": "efa0155b-1298-4ff7-9ab6-4659e02bf839",
      "name": "Content Creator Agent",
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Content Creator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Content Creator Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tavily": {
      "ai_tool": [
        [
          {
            "node": "Content Creator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Content Creator Agent": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2c929ef0-34e8-472e-bad0-3d1b101f049f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1a919a52904068411d81843202683e3086af5a7b099ce8f1ccc4d5ea5a19763c"
  },
  "id": "zp0o1ZjegsfJnngI",
  "tags": []
}